<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.nya.powerlyrics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LyricApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LyricsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="io.nya.powerlyrics.LYRIC_FOUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LyricChooserActivy" />

        <service
            android:name=".service.PlayService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.OnTrackChange"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.maxmpz.audioplayer.TRACK_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.OnStatusChange"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.maxmpz.audioplayer.STATUS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>